
*{
	
 }
 header{
 	height: 50px;
 	display: grid;
 	/*background-color: silver;*/
 	grid-template-columns: 35% 65%;
 	/*position: fixed;*/
 }
 .log{
 	/*background-color: silver;*/
 	margin-top: 15px;
 	margin-left: 10px;
 	font-size: 20px;
 	font-family: Arial, Helvetica, sans-serif;
 	
 }
.menu{
	/*background-color: yellow;*/
	text-align: right;
	margin-right: 60px;
	margin-top: 20px;
	word-spacing: 10px;
	
}

div.message{
	color:grey;
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;

}
div.container{
	
	height: 2000px;
/*	border: 1px solid red;
*/	display: grid;
	grid-template-rows: 45px 300px auto;


	
}
div.bar{
	/*margin-right: 10px;
	margin-left: 10px;*/
	/*border: 2px solid black;*/
/*	background-color: #C1C1BF;
*/	/*position: absolute;*/
	top: 0;
}

div.movingPics{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	/*border: 2px solid black;*/
	/*background-color: grey;*/
	background: url(n2.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:bottom;	
	/**/
	animation: slide 20s ease-in-out 2s infinite;
}
@keyframes slide{
	10%{
		background: url(1.jpeg);
	}
	20%{
		background: url(n1.png);	
	}
	50%{
		background: url(2.jpeg);
	}
	75%{
		background: url(4.jpeg);
	}
	100%{
		background: url(1.jpeg);
	}
}

div.options{
	
	border: 2px solid yellow;
	background-color: white;
	/*----*/
	margin: 25px;
	margin-top: 75px;
	
	
	display: grid;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(2,200px);
	grid-row-gap: 20px;

	
	
}
div.location{
	margin: 10px;
	border: 5px solid black;
}
div.location:hover {
	background-color: lightgrey;
}
h6{

	color:black;
	text-align: left;
	margin-top: 150px;
	margin-left: 10px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;

	
}
div.lim{
	/*background-color: lightblue;*/
	background-image: url(1.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;

}
div.mpu{
	background-image: url(2.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
}div.gau{
	background-image: url(1.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
}
div.UL{
	background-image: url(4.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
}